#!/bin/bash 
#$ -S /bin/bash
##PBS -q short.q 
##PBS -m abe 
##PBS -N $PROF_JOB

source \$HOME/.bashrc
echo "Creating directory for results storage"
if test -d $PROF_OUTDIR
then
    echo "outdir already exists... so I do nothing"
else
    echo "creating outdir"
    mkdir $PROF_OUTDIR
fi

echo "Running Professor tuning command"
prof-tune --datadir $PROF_DATADIR \
  --max 100 \
  --runs 0,71 \
  --obsfile $PROF_OBSFILE \
  --outfile $PROF_OUTFILE \
  --check no \

exit 0
