#! /usr/bin/env bash 
#$ -S /bin/bash
#$ -j oe
#PBS -N profi-@PROF_JOB

source $HOME/.bashrc

echo "Running Professor interpolation command"

mkdir -p @PROF_OUTDIR/@PROF_JOB/


prof-interpolate \
  --mcdir @PROF_MCDIR \
  --obsfile @PROF_OBSFILE \
  --runsfile @PROF_RUNSFILE \
  --ipoldir @PROF_IPOLDIR \
  @PROF_ADD_OPTS \
  &> @PROF_OUTDIR/@PROF_JOB/interpolate.log

exit 0
